<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>Student-Project Management System</h1>
		<hr>
		<h2>New Project</h2>

		<form action="#" th:action="@{/saveProject}" th:object="${project}"
			method="POST">

			<table class="table table-striped table-responsive-md">
				<tr>
					<th>First name:</th>
					<td><input type="text" th:field="*{name}"
						placeholder="Project Name" class="form-control mb-4 col-4"><br>
						<h6 th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">First Name error</h6></td>
					
				</tr>
			</table>

			<button type="submit" class="btn btn-info col-2">Save
				Project</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Student List</a>
	</div>
</body>

</html>